<div class="jumbotron">
  <h1>Uber Price Tracker</h1>
  <p>Track the price of an UberX ride for your commonn destinations. Prices are tracked every 10 minutes.</p>
  <p>Click 'Add Destination' to start</p>
  <p>Click 'All Routes' to view your routes</p>
</div>
