<div class='page-header'>
  <h1>Uber Routes</h1>
  <p>All of the routes between your destinations are shown below. View a route to see the prices of an uberX fare throughout the day.</p>
</div>

<ul>
  <% @uber_routes.each do |route| %>
    <li>
      <%= link_to "#{route.formatted_destinations}", route %>
    </li>
  <% end %>
</ul>
